if SHIELD_42BLOCK

config ZMK_KEYBOARD_NAME
    default "42block"

config USB_DEVICE_MANUFACTURER
    default "Waylon Walker"

config ZMK_MOUSE
    default y

config BT_MAX_CONN
    default 8

config BT_MAX_PAIRED
    default 8

endif
