if SHIELD_IRONHORSE

config ZMK_KEYBOARD_NAME
    default "ironhorse"

config USB_DEVICE_MANUFACTURER
    default "Waylon Walker"

config ZMK_MOUSE
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
